body {
    font-family:"Noto Sans Japanese", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    background-color: #eee;
}

.pc {
    display: block !important;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.sp {
    display: none !important;
    position: relative;
}

@media only screen and (max-width: 1024px) {
    .pc {
        display: none !important;
    }

    .sp {
        display: block !important;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }
}

.inner {
    padding: 40px 20px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 15px 20px 40px;
}

.catch {
    text-align: center;
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 1.4px;
    line-height: 32.4px;
    text-size-adjust: 100%;
}

.catch-2 {
    text-align: center;
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 1.4px;
    line-height: 32.4px;
    text-size-adjust: 100%;
    padding-top: 30px;
}

.nama {
    font-size: 25px;
    font-weight: 550;
    color: rgb(214, 11, 15);
}

h2 {
    background-repeat: no-repeat;
    color: #333;
    text-align: center;
    box-sizing: border-box;
    display: block;
    margin-bottom: 40px;
}

.section-wrap {
    padding: 40px 0;
    box-sizing: border-box;
    word-break: break-all;
    margin: 50px auto;
}

.line {
    border-bottom: 2px solid #333;
    background-repeat: no-repeat;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 600;

}

.contest-block {
    display: block;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: block;
    box-sizing: inherit;
    font-size: 14px;
}

.prize-list {
text-align: center;}

.prize {
    color: rgb(214, 11, 15);
    font-size: 20px;
    font-weight: 600;
}

.p-info {
    color: #333;
    font-size: 18px;
    font-weight: 400;
}

.schedule-list li {
    display: list-item;
    text-align: left;
    list-style-type: none;
    font-size: 13px;
}

.schedule-list-item {
    border-bottom: 2px solid #eee;
}

.schedule-list-time {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.schedule-list-time_inner {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(214, 11, 15);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 25px;
    list-style-type: none;
    text-size-adjust: 100%;
    margin: 0;
    table-layout: fixed;
    display: block;
}

.schedule-list-time_year {
    font-size: 18px;
    line-height: 25.2px;
    padding-top: 7.3px;
    display: block;
}

.schedule-list-time_month {
    font-size: 25px;
    line-height: 35px;
    display: block;
}

.schedule-list-time_day {
    font-size: 18px;
    line-height: 25.2px;
    display: block;
}

.schedule-list-info {
    text-size-adjust: 100%;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

.schedule-list-info_title {
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    word-break: keep-all;
    word-wrap: break-word;
}

.schedule-list-info_content {
    display: block;
}

.schedule-list-info_text {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 27.2px;
}

.schedule-list-info_text-memo {
    font-size: 16px;
}

dl {
    display: block;
    margin: 0;
    padding: 0;
}

.entry-outline-detail {
    display: block;
    padding-bottom: 15px;
    text-align: left;
}

.entry-outline-detail li {
    text-indent: -13px;
}

.sns-btn-wrapper {
    text-align: center;
    clear: both;
}


.sns-btn-wrapper li {
    display: inline;
    padding: 0 15px;
    text-decoration: none;
}

li .sponsor_logo_1 img {
    cursor: pointer;
    max-width: 45%;
    padding-bottom: 30px;
}

li .sponsor_logo_2 img {
    cursor: pointer;
    max-width: 95%;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (min-width: 1025px) {
    .inner {
        max-width: 78%;
    }
    
    .section-wrap {
        max-width: 92%;
    }
    
    .schedule-list-item {
        padding: 30px;
    }

    .schedule-list-time {
        display: table-cell;
        width: 100px;
        vertical-align: top;
    }

    .schedule-list-info {
        display: table-cell;
        width: 100%;
        padding: 0 0 0 30px;
        vertical-align: middle;
        position: relative;
    }

    .schedule-list-info_text-memo {
        padding-top: 30px;
        padding-left: 30px;
    }

    .entry-outline-detail {
        margin-left: 220px;
    }

    dt {
        float: left;
        color: rgb(51, 51, 51);
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1.4px;
        margin: 0;
        box-sizing: border-box;
    }

    .entry-outline-detail::after {
        border-bottom: solid 1px rgb(136, 136, 136);
        content: "";
        margin-left: -220px;
        padding-bottom: 30px;
        text-decoration-color: rgb(51, 51, 51);
        text-decoration-style: solid;
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .line {
        border-bottom: 2px solid #333;
        background-repeat: no-repeat;
        font-size: 30px;
        letter-spacing: 4px;
        font-weight: 600;
        word-wrap: break-word;
    }

    .catch {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .catch-2 {
        font-size: 18px;
        letter-spacing: 1px;
        padding-top: 30px;
    }

    .nama {
        font-size: 35px;
    }

    .none {
        display: none;
    }

    .entry-outline-detail {
        padding-bottom: 25px;
        font-size: 13px;
        border-bottom: 1px solid #888;
        margin-bottom: 25px;
        }

    dt {
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1.4px;
        padding-bottom: 25px;
    }

    .inner {
        margin: 30px;
        box-shadow: rgba(0, 0, 0, 0.2) 9px 12px 24px;
    }

    .section-wrap {
        max-width: 92%
    }

    .schedule-list-item {
        margin-bottom: 15px;
    }

    .schedule-list-time {
        width: 100%;
    }

    .schedule-list-time_inner {
        width: 100%;
        color: rgb(255, 255, 255);
        height: 24px;
        margin: 0;
        padding: 0;
        font-size: 14px;
        letter-spacing: 1.4px;
    }

    .schedule-list-time_year, .schedule-list-time_month, .schedule-list-time_day {
        font-size: 16px;
        line-height: 24px;
        padding: 0 4px;
        margin: 0;
        box-sizing: border-box;
        display: inline;
    }

    dl {
        box-sizing: border-box;
        display: block;
        text-align: left;
        text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .schedule-list-info {
        display: flex;
        width: calc(100vw - 130px);
    }

    .schedule-list-info_title {
        font-size: 18px;
    }

    .schedule-list-info_text {
        font-size: 14px;
    }

    .sns-btn-wrapper {
        display: inline;
        padding: 0 10px;
    }
}

@media screen and (max-width: 320px) {
    .line {
        letter-spacing: 2.5px;
        font-size: 25px;
    }

    .catch {
        font-size: 16px;
        font-weight: 550;
        letter-spacing: .5px;
    }
}