head {

}

body {
font-family:"Noto Sans Japanese", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;;
font-weight: 400;
font-size: 14px;
letter-spacing: .1em;
word-break: break-all;
display: block;
}

.catch {
    text-align: center;
}

h2 {
    background-repeat: no-repeat;
    color: #333;
    text-align: center;
    font-size: 22px;
    font-weight: 700px;
    letter-spacing: 4.4px;
    box-sizing: border-box;
    display: block;
    margin-block-end: 40px;

}

.line {
    border-bottom: 2px solid #333;
    background-repeat: no-repeat;
}

.contest-block {
    padding: 25px 20px;
    background-color: #fff;
    margin: 0;
}

ul {
    list-style: none;
    display: block;
    box-sizing: inherit;
    font-size: 14px;
}

.prize-list {
    color: blue;
}

.prize-grandprix {
    color: red;
}

.prize-others {
    color: green;
}

li {
    display: list-item;
    text-align: left;
    list-style-type: none;
}

.schedule-list-item {
    border-bottom: 2px solid #eee;
}

.schedule-list-item__inner {
    background-color: rgb(214, 11, 15);
}

.schedule-list-time_year, .schedule-list-time_month, .schedule-list-time_day {
    color: rgb(255, 255, 255);
}

.schedule-list-info__title {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.-gray {
    background-color: #EEEEEE;
}

dt {
    display: block;
    font-size: 14px;
}

dd {
    display: block;
    margin-left: 40px;
    border-bottom: solid 1px rgb(136, 136, 136);
}
